

.messenger{
    height: calc(100vh - 70px);
   display: flex;
}
.chatMenu{
   flex: 3.5;
}
.chatMenuInput{
    width: 90%;
    padding: 10px 0;
    border: none;
    outline: none;
    border-bottom: 1px solid rgb(199, 193, 193);
}
.chatBox{
   flex: 5.5;
}
.chatBoxWrapper{
   display: flex;
   flex-direction:column;
   justify-content:space-between
}
.chatBoxTop{
   height: 100%;
   overflow-y: scroll;
   padding-right: 10px;
}
.chatBoxBottom{
   margin: top 5px;
   display: flex;
   text-align: center;
   justify-content:space-between;
   
}
.chatMessageInput{
   width:80%;
   height: 70px;
   padding: 10px;
   border: 1px solid rgb(221, 218, 218);
}
.chatSubmitButton{
   width: 70px;
   height: 40px;
   border:none ;
   border-radius: 5px;
   cursor: pointer;
}
.chatonline{
   flex: 3;
}
.chatMenuWrapper, .chatBoxWrapper, .chatOnlineWrapper{
    padding:10px;
    height:100%
}
